{
 "openapi": "3.0.1",
 "info": {
  "title": "HubSpot Automation API",
  "version": "2026-09",
  "description": "HubSpot Automation API — merged from the vendor's per-API OpenAPI documents."
 },
 "servers": [
  {
   "url": "https://api.hubapi.com"
  }
 ],
 "paths": {
  "/automation/actions/2026-09/{appId}": {
   "get": {
    "tags": [
     "Definitions"
    ],
    "summary": "Retrieve custom action definitions",
    "description": "Retrieve custom workflow action definitions by app ID.",
    "operationId": "get-/automation/actions/2026-09/{appId}_getPage",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the application to retrieve extension definitions for.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null,
       "default": false
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4CollectionResponsePublicActionDefinitionForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   },
   "post": {
    "tags": [
     "Definitions"
    ],
    "summary": "Create a new custom action definition",
    "description": "Create a new custom workflow action.",
    "operationId": "post-/automation/actions/2026-09/{appId}_create",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app for which the extension definition is being created.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ActionsV4PublicActionDefinitionEgg"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionDefinition"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   }
  },
  "/automation/actions/2026-09/{appId}/{definitionId}": {
   "get": {
    "tags": [
     "Definitions"
    ],
    "summary": "Retrieve a custom action definition",
    "description": "Retrieve a custom workflow action definition by ID.",
    "operationId": "get-/automation/actions/2026-09/{appId}/{definitionId}_getById",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app containing the extension definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the extension definition to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "archived",
      "in": "query",
      "description": "Whether to return only results that have been archived.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null,
       "default": false
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionDefinition"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Definitions"
    ],
    "summary": "Delete an action definition",
    "description": "Delete an action definition by ID.",
    "operationId": "delete-/automation/actions/2026-09/{appId}/{definitionId}_archive",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the extension definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the extension definition to archive.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   },
   "patch": {
    "tags": [
     "Definitions"
    ],
    "summary": "Update an existing action definition",
    "description": "Update an existing action definition by ID.",
    "operationId": "patch-/automation/actions/2026-09/{appId}/{definitionId}_update",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the extension definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the extension definition to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ActionsV4PublicActionDefinitionPatch"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionDefinition"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   }
  },
  "/automation/actions/2026-09/{appId}/{definitionId}/functions": {
   "get": {
    "tags": [
     "Functions"
    ],
    "summary": "Retrieve functions for a given definition",
    "description": "Retrieve all functions included in a definition.",
    "operationId": "get-/automation/actions/2026-09/{appId}/{definitionId}/functions_getPage",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the action definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the action definition for which functions are being retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4CollectionResponsePublicActionFunctionIdentifierNoPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   }
  },
  "/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}": {
   "get": {
    "tags": [
     "Functions"
    ],
    "summary": "Retrieve functions by a type for a given definition",
    "description": "Retrieve functions of a specific type for a given definition.",
    "operationId": "get-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}_getByFunctionType",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the automation action definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the automation action definition for which functions are being retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionType",
      "in": "path",
      "description": "The type of function to retrieve. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "POST_ACTION_EXECUTION",
        "POST_FETCH_OPTIONS",
        "PRE_ACTION_EXECUTION",
        "PRE_FETCH_OPTIONS"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionFunction"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   },
   "put": {
    "tags": [
     "Functions"
    ],
    "summary": "Insert a function for a definition",
    "description": "Add a function for a given definition.",
    "operationId": "put-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}_createOrReplaceByFunctionType",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the automation action.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the definition to which the function will be added.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionType",
      "in": "path",
      "description": "The type of function to insert. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "POST_ACTION_EXECUTION",
        "POST_FETCH_OPTIONS",
        "PRE_ACTION_EXECUTION",
        "PRE_FETCH_OPTIONS"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "text/plain": {
       "schema": {
        "type": "string",
        "example": null
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionFunctionIdentifier"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Functions"
    ],
    "summary": "Delete a function for a definition",
    "description": "Delete a function within a given definition.",
    "operationId": "delete-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}_archiveByFunctionType",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the automation action.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the automation action definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionType",
      "in": "path",
      "description": "The type of function to delete. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, POST_ACTION_EXECUTION.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "POST_ACTION_EXECUTION",
        "POST_FETCH_OPTIONS",
        "PRE_ACTION_EXECUTION",
        "PRE_FETCH_OPTIONS"
       ]
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   }
  },
  "/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}/{functionId}": {
   "get": {
    "tags": [
     "Functions"
    ],
    "summary": "Retrieve a function from a given definition",
    "description": "Retrieve a specific function from a given definition.",
    "operationId": "get-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}/{functionId}_getById",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the function.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the definition to which the function belongs.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionId",
      "in": "path",
      "description": "The unique identifier of the function to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionType",
      "in": "path",
      "description": "The type of function to retrieve. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "POST_ACTION_EXECUTION",
        "POST_FETCH_OPTIONS",
        "PRE_ACTION_EXECUTION",
        "PRE_FETCH_OPTIONS"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionFunction"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   },
   "put": {
    "tags": [
     "Functions"
    ],
    "summary": "Update a function for a definition",
    "description": "Update a function for a given definition by ID.",
    "operationId": "put-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}/{functionId}_createOrReplace",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the definition to which the function belongs.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionId",
      "in": "path",
      "description": "The unique identifier of the function to insert.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionType",
      "in": "path",
      "description": "The type of function to insert, indicating when it is executed. Valid values include PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "POST_ACTION_EXECUTION",
        "POST_FETCH_OPTIONS",
        "PRE_ACTION_EXECUTION",
        "PRE_FETCH_OPTIONS"
       ]
      }
     }
    ],
    "requestBody": {
     "content": {
      "text/plain": {
       "schema": {
        "type": "string",
        "example": null
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionFunctionIdentifier"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Functions"
    ],
    "summary": "Archive a function for a definition",
    "description": "Archive a function for a specific definition.",
    "operationId": "delete-/automation/actions/2026-09/{appId}/{definitionId}/functions/{functionType}/{functionId}_archive",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app that contains the action definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the action definition to which the function belongs.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionId",
      "in": "path",
      "description": "The unique identifier of the function to delete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "functionType",
      "in": "path",
      "description": "The type of the function to delete. Valid values are PRE_ACTION_EXECUTION, PRE_FETCH_OPTIONS, POST_FETCH_OPTIONS, and POST_ACTION_EXECUTION.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "POST_ACTION_EXECUTION",
        "POST_FETCH_OPTIONS",
        "PRE_ACTION_EXECUTION",
        "PRE_FETCH_OPTIONS"
       ]
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   }
  },
  "/automation/actions/2026-09/{appId}/{definitionId}/requires-object": {
   "get": {
    "tags": [
     "Definitions"
    ],
    "summary": "Retrieve the object requirement status for a custom action definition.",
    "description": "Retrieve whether a custom action definition requires an object.",
    "operationId": "get-/automation/actions/2026-09/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the extension definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the extension definition to check.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionDefinitionRequiresObjectResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   },
   "post": {
    "tags": [
     "Definitions"
    ],
    "summary": "Set the object requirement for a custom action definition.",
    "description": "Set whether a custom action definition requires an object.",
    "operationId": "post-/automation/actions/2026-09/{appId}/{definitionId}/requires-object_/automation/v4/actions/{appId}/{definitionId}/requires-object",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the extension definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the extension definition for which the requirement is being set.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ActionsV4PublicActionDefinitionRequiresObjectRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   }
  },
  "/automation/actions/2026-09/{appId}/{definitionId}/revisions": {
   "get": {
    "tags": [
     "Revisions"
    ],
    "summary": "Retrieve revisions for a given definition",
    "description": "Retrieve the versions of a definition by ID.",
    "operationId": "get-/automation/actions/2026-09/{appId}/{definitionId}/revisions_getPage",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the action definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the action definition for which revisions are being retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4CollectionResponsePublicActionRevisionForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   }
  },
  "/automation/actions/2026-09/{appId}/{definitionId}/revisions/{revisionId}": {
   "get": {
    "tags": [
     "Revisions"
    ],
    "summary": "Retrieve a specific revision of a definition",
    "description": "Retrieve a specific revision of a definition by revision ID.",
    "operationId": "get-/automation/actions/2026-09/{appId}/{definitionId}/revisions/{revisionId}_getById",
    "parameters": [
     {
      "name": "appId",
      "in": "path",
      "description": "The unique identifier of the app associated with the action definition.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "definitionId",
      "in": "path",
      "description": "The unique identifier of the action definition for which the revision is being retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "revisionId",
      "in": "path",
      "description": "The unique identifier of the specific revision to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ActionsV4PublicActionRevision"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "developer_hapikey": []
     }
    ]
   }
  },
  "/automation/actions/callbacks/2026-09/complete": {
   "post": {
    "tags": [
     "Callbacks"
    ],
    "summary": "Complete a batch of callbacks",
    "description": "Complete a batch of blocked action executions.",
    "operationId": "post-/automation/actions/callbacks/2026-09/complete_completeBatch",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ActionsV4BatchInputCallbackCompletionBatchRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ]
   }
  },
  "/automation/actions/callbacks/2026-09/{callbackId}/complete": {
   "post": {
    "tags": [
     "Callbacks"
    ],
    "summary": "Completes a callback",
    "description": "Complete a specific blocked action execution by ID.",
    "operationId": "post-/automation/actions/callbacks/2026-09/{callbackId}/complete_complete",
    "parameters": [
     {
      "name": "callbackId",
      "in": "path",
      "description": "The unique identifier of the callback to complete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ActionsV4CallbackCompletionRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/ActionsV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ]
   }
  },
  "/automation/v4/flows": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve workflows",
    "description": "Retrieve a list of automation flows with optional pagination using the 'after' and 'limit' query parameters.",
    "operationId": "get-/automation/v4/flows",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null,
       "default": 100
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4CollectionResponseApiFlowListingForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create a workflow",
    "description": "Create a new automation flow by providing the necessary details in the request body.",
    "operationId": "post-/automation/v4/flows",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AutomationV4ApiFlowCreateRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4ApiFlow"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ],
    "x-hubspot-rate-limit-exemptions": [
     "ten-secondly"
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/v4/flows/batch/read": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Retrieve workflows",
    "description": "Retrieve details of multiple automation flows by providing a batch of flow IDs in the request body. This endpoint allows for efficient retrieval of multiple flows at once, returning their details in a single response.",
    "operationId": "post-/automation/v4/flows/batch/read",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AutomationV4ApiFlowBatchInput"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4BatchResponseApiFlow"
        },
        "example": null
       }
      }
     },
     "207": {
      "description": "multiple statuses",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4BatchResponseApiFlowWithErrors"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/v4/flows/email-campaigns": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve workflow email campaigns",
    "description": "Retrieve a list of email campaigns associated with automation flows, with optional pagination using 'after', 'before', and 'limit' query parameters.",
    "operationId": "get-/automation/v4/flows/email-campaigns",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "before",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "flowId",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4CollectionResponseApiFlowEmailCampaign"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ]
   }
  },
  "/automation/v4/flows/performance/{flowId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "operationId": "get-/automation/v4/flows/performance/{flowId}_/automation/v4/flows/performance/{flowId}",
    "parameters": [
     {
      "name": "flowId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "bucketType",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "DAY",
        "MONTH",
        "WEEK"
       ]
      }
     },
     {
      "name": "end",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     },
     {
      "name": "firstDay",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "enum": [
        "FRIDAY",
        "MONDAY",
        "SATURDAY",
        "SUNDAY",
        "THURSDAY",
        "TUESDAY",
        "WEDNESDAY"
       ]
      }
     },
     {
      "name": "start",
      "in": "query",
      "description": "",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4CollectionResponseApiHistogramDataPointNoPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ]
   }
  },
  "/automation/v4/flows/{flowId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve a workflow",
    "description": "Retrieve the details of a specific automation flow using its unique flow ID.",
    "operationId": "get-/automation/v4/flows/{flowId}",
    "parameters": [
     {
      "name": "flowId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4ApiFlow"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   },
   "put": {
    "tags": [
     "Basic"
    ],
    "summary": "Update a workflow",
    "description": "Update the details of an existing automation flow by providing the necessary information in the request body.",
    "operationId": "put-/automation/v4/flows/{flowId}",
    "parameters": [
     {
      "name": "flowId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AutomationV4ApiFlowPutRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4ApiFlow"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ],
    "x-hubspot-rate-limit-exemptions": [
     "ten-secondly"
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   },
   "delete": {
    "tags": [
     "Basic"
    ],
    "summary": "Delete a workflow",
    "description": "Delete an automation flow identified by its flow ID.",
    "operationId": "delete-/automation/v4/flows/{flowId}",
    "parameters": [
     {
      "name": "flowId",
      "in": "path",
      "description": "",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/v4/workflow-id-mappings/batch/read": {
   "post": {
    "tags": [
     "Batch"
    ],
    "summary": "Retrieve workflow ID mappings",
    "description": "Retrieve mappings between flow IDs and workflow IDs in batch, allowing for efficient management of ID relationships.",
    "operationId": "post-/automation/v4/workflow-id-mappings/batch/read",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AutomationV4ApiFlowBatchMigrationInput"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4BatchResponseFlowIdWorkflowIdMappingResponse"
        },
        "example": null
       }
      }
     },
     "207": {
      "description": "multiple statuses",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/AutomationV4BatchResponseFlowIdWorkflowIdMappingResponseWithErrors"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/AutomationV4Error"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/email-templates/2026-09": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "List templates",
    "description": "Retrieve a list of email templates available in the HubSpot account. This endpoint supports pagination to navigate through large sets of templates. Use this endpoint to access and manage your email templates efficiently. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access. ",
    "operationId": "get-/automation/email-templates/2026-09_/automation/email-templates/2026-09-beta",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource, returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page. Defaults to 20.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null,
       "default": 20
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplatesCollectionResponsePublicTemplateForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/EmailTemplatesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "sales-templates-public-read"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create",
    "description": "Create a new email template in your HubSpot account. This endpoint allows you to define the template's name, subject, body, and optionally assign it to a folder. The request must include the template's body and name. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access. ",
    "operationId": "post-/automation/email-templates/2026-09_/automation/email-templates/2026-09-beta",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/EmailTemplatesPublicTemplateInput"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "201": {
      "description": "successful operation",
      "headers": {
       "Location": {
        "description": "URL of the newly created resource",
        "style": "simple",
        "explode": false,
        "schema": {
         "type": "string",
         "example": null
        }
       }
      },
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplatesPublicTemplate"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/EmailTemplatesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "sales-templates-public-write"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/email-templates/2026-09/folders": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "List folders",
    "description": "Retrieve a list of email template folders available in your HubSpot account. This endpoint supports pagination to navigate through large sets of folders. Use this endpoint to organize and manage your email templates efficiently. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access. ",
    "operationId": "get-/automation/email-templates/2026-09/folders_/automation/email-templates/2026-09-beta/folders",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource. Use this token to retrieve the next set of results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page. Defaults to 20.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null,
       "default": 20
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplatesCollectionResponsePublicFolderForwardPaging"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/EmailTemplatesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "sales-templates-public-read"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/email-templates/2026-09/{templateId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve template",
    "description": "Retrieve a specific email template by its unique identifier. This endpoint allows you to access the details of an email template, which can be useful for reviewing or managing your email automation strategies. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access. ",
    "operationId": "get-/automation/email-templates/2026-09/{templateId}_/automation/email-templates/2026-09-beta/{templateId}",
    "parameters": [
     {
      "name": "templateId",
      "in": "path",
      "description": "The unique identifier of the email template to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplatesPublicTemplate"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/EmailTemplatesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "sales-templates-public-read"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   },
   "patch": {
    "tags": [
     "Basic"
    ],
    "summary": "Update template",
    "description": "Update an existing email template in your HubSpot account. This endpoint allows you to modify the template's properties such as name, subject, body, and folderId. Ensure that the templateId provided corresponds to an existing template. Please note: the scopes for these endpoints require user-level access and will not work for existing apps with portal-level access. ",
    "operationId": "patch-/automation/email-templates/2026-09/{templateId}_/automation/email-templates/2026-09-beta/{templateId}",
    "parameters": [
     {
      "name": "templateId",
      "in": "path",
      "description": "The unique identifier of the email template to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "integer",
       "format": "int64",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/EmailTemplatesPublicTemplateUpdate"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/EmailTemplatesPublicTemplate"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/EmailTemplatesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "sales-templates-public-write"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/sequences/2026-09": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "List sequences",
    "description": "Retrieve a list of sequences for a specified user in your HubSpot account. This endpoint allows you to filter sequences by user ID and optionally paginate through results using a cursor. It is useful for managing and reviewing sequences associated with a particular user. ",
    "operationId": "get-/automation/sequences/2026-09",
    "parameters": [
     {
      "name": "userId",
      "in": "query",
      "description": "The unique identifier of the user whose sequences are to be retrieved. This parameter is required.",
      "required": true,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token for pagination. Use the value from the previous response's paging.next.after field to get the next set of results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "name",
      "in": "query",
      "description": "Filter sequences by their name.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesCollectionResponseWithTotalPublicSequenceLiteResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.read"
      ]
     }
    ]
   }
  },
  "/automation/sequences/2026-09/enrollments": {
   "post": {
    "tags": [
     "Enrollment"
    ],
    "summary": "Enroll a contact",
    "description": "Enroll a contact into a sequence using the specified sequence ID. This operation requires the user ID to be provided as a query parameter. The request body must include the contact ID, sender email, and sequence ID. This endpoint is useful for automating the enrollment of contacts into predefined sequences for streamlined communication and follow-up processes.",
    "operationId": "post-/automation/sequences/2026-09/enrollments",
    "parameters": [
     {
      "name": "userId",
      "in": "query",
      "description": "The unique identifier of the user performing the enrollment. This parameter is required.",
      "required": true,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SequencesPublicSequenceEnrollmentRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesPublicSequenceEnrollmentLiteResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.enrollments.write"
      ]
     }
    ]
   }
  },
  "/automation/sequences/2026-09/enrollments/contact/{contactId}": {
   "get": {
    "tags": [
     "Enrollment"
    ],
    "summary": "Retrieve enrollment details",
    "description": "Retrieve the sequence enrollment details for a specific contact in your HubSpot account. This endpoint provides information about the sequence a contact is enrolled in, including enrollment dates and the sequence's name and ID.",
    "operationId": "get-/automation/sequences/2026-09/enrollments/contact/{contactId}",
    "parameters": [
     {
      "name": "contactId",
      "in": "path",
      "description": "The unique identifier of the contact whose sequence enrollment details are being retrieved.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesPublicSequenceEnrollmentResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.read"
      ]
     }
    ]
   }
  },
  "/automation/sequences/2026-09/serviceaccounts/enrollments": {
   "post": {
    "tags": [
     "Enrollment"
    ],
    "summary": "Enroll Service Account",
    "description": "Enroll a service account into a sequence using the specified enrollment details. This endpoint is useful for automating the process of adding service accounts to sequences, which can help streamline workflows and ensure consistent engagement strategies. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
    "operationId": "post-/automation/sequences/2026-09/serviceaccounts/enrollments",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SequencesPublicSequenceEnrollmentRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesPublicSequenceEnrollmentLiteResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.enrollments.write"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/sequences/2026-09/serviceaccounts/sequences": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "List sequences",
    "description": "Retrieve a list of sequences available in the service account. This endpoint supports pagination and allows filtering by sequence name. It is useful for obtaining an overview of sequences for management or reporting purposes. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
    "operationId": "get-/automation/sequences/2026-09/serviceaccounts/sequences",
    "parameters": [
     {
      "name": "after",
      "in": "query",
      "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "limit",
      "in": "query",
      "description": "The maximum number of results to display per page.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     {
      "name": "name",
      "in": "query",
      "description": "Filter sequences by their name.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesCollectionResponseWithTotalPublicSequenceLiteResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.read"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   },
   "post": {
    "tags": [
     "Basic"
    ],
    "summary": "Create sequence",
    "description": "Create a new sequence in your HubSpot account using the specified settings and steps. This endpoint allows you to define the sequence's properties, such as its name, settings, steps, and dependencies, to automate processes effectively. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
    "operationId": "post-/automation/sequences/2026-09/serviceaccounts/sequences",
    "parameters": [],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SequencesPublicSequenceRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesPublicCreateSequenceResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.read"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve sequence",
    "description": "Retrieve details of a specific sequence in your HubSpot account using the sequence ID. This endpoint provides comprehensive information about the sequence, including its settings, steps, and dependencies. It is useful for obtaining sequence configurations and understanding the sequence's structure and components. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
    "operationId": "get-/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}",
    "parameters": [
     {
      "name": "sequenceId",
      "in": "path",
      "description": "The unique identifier of the sequence to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesPublicSequenceResponseV2"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.read"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   },
   "put": {
    "tags": [
     "Basic"
    ],
    "summary": "Update sequence",
    "description": "Update an existing sequence in your HubSpot account using its unique identifier. This endpoint allows you to modify the sequence settings, steps, and dependencies. Ensure that the sequenceId provided in the path is valid and corresponds to the sequence you wish to update. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
    "operationId": "put-/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}",
    "parameters": [
     {
      "name": "sequenceId",
      "in": "path",
      "description": "The unique identifier of the sequence to update.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SequencesPublicSequenceRequest"
       },
       "example": null
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesPublicSequenceResponseV2"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.write"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   },
   "delete": {
    "tags": [
     "Basic"
    ],
    "summary": "Delete sequence",
    "description": "Delete a specific sequence in your HubSpot account using its unique identifier. This operation will remove the sequence and can optionally override active enrollments if specified. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
    "operationId": "delete-/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}",
    "parameters": [
     {
      "name": "sequenceId",
      "in": "path",
      "description": "The unique identifier of the sequence to delete.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "overrideActiveEnrollment",
      "in": "query",
      "description": "A boolean indicating whether to override active enrollments when deleting the sequence.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "boolean",
       "example": null
      }
     }
    ],
    "responses": {
     "204": {
      "description": "No content",
      "content": {}
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.write"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}/performance": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve performance",
    "description": "Retrieve the performance metrics of a specific sequence in your HubSpot account. This endpoint provides detailed insights into the sequence's effectiveness, including metrics such as opened, clicked, and replied rates. It is useful for analyzing the success of your sequences over time. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
    "operationId": "get-/automation/sequences/2026-09/serviceaccounts/sequences/{sequenceId}/performance",
    "parameters": [
     {
      "name": "sequenceId",
      "in": "path",
      "description": "The unique identifier of the sequence to retrieve performance metrics for.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "timelineInterval",
      "in": "query",
      "description": "The interval for the timeline data. Defaults to 'WEEK'.",
      "required": false,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null,
       "default": "WEEK"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesPublicSequencePerformanceResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.read"
      ]
     }
    ],
    "x-hubspot-user-level-auth": {
     "internalOnly": false
    }
   }
  },
  "/automation/sequences/2026-09/{sequenceId}": {
   "get": {
    "tags": [
     "Basic"
    ],
    "summary": "Retrieve sequence",
    "description": "Retrieve details of a specific sequence in your HubSpot account using its unique identifier. This endpoint requires specifying the sequence ID and the user ID associated with the sequence. It is useful for accessing detailed information about a sequence's configuration and status. Please note: the scopes for this endpoint requires user-level access and will not work for existing apps with portal-level access.",
    "operationId": "get-/automation/sequences/2026-09/{sequenceId}",
    "parameters": [
     {
      "name": "sequenceId",
      "in": "path",
      "description": "The unique identifier of the sequence to retrieve.",
      "required": true,
      "style": "simple",
      "explode": false,
      "schema": {
       "type": "string",
       "example": null
      }
     },
     {
      "name": "userId",
      "in": "query",
      "description": "The unique identifier of the user associated with the sequence. This parameter is required.",
      "required": true,
      "style": "form",
      "explode": true,
      "schema": {
       "type": "string",
       "example": null
      }
     }
    ],
    "responses": {
     "200": {
      "description": "successful operation",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/SequencesPublicSequenceResponse"
        },
        "example": null
       }
      }
     },
     "default": {
      "description": "",
      "$ref": "#/components/responses/SequencesError"
     }
    },
    "security": [
     {
      "oauth2": [
       "automation.sequences.read"
      ]
     }
    ]
   }
  }
 },
 "components": {
  "securitySchemes": {
   "developer_hapikey": {
    "type": "apiKey",
    "name": "hapikey",
    "in": "query"
   },
   "oauth2": {
    "type": "oauth2",
    "flows": {
     "authorizationCode": {
      "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
      "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
      "scopes": {
       "automation": ""
      }
     }
    }
   },
   "private_apps": {
    "type": "apiKey",
    "name": "private-app",
    "in": "header"
   },
   "private_apps_legacy": {
    "type": "apiKey",
    "name": "private-app-legacy",
    "in": "header"
   }
  },
  "schemas": {
   "ActionsV4ActionExecutionIndexIdentifier": {
    "required": [
     "actionExecutionIndex",
     "enrollmentId"
    ],
    "type": "object",
    "properties": {
     "actionExecutionIndex": {
      "type": "integer",
      "description": "The index number representing the execution order of the action.",
      "format": "int32",
      "example": null
     },
     "enrollmentId": {
      "type": "integer",
      "description": "The ID associated with the enrollment process.",
      "format": "int64",
      "example": null
     }
    },
    "example": null
   },
   "ActionsV4AgentRequestContext": {
    "title": "AGENTS",
    "required": [
     "agentId",
     "chirpAiContextObject",
     "source"
    ],
    "type": "object",
    "properties": {
     "agentId": {
      "type": "integer",
      "description": "The unique identifier for the agent making the request.",
      "format": "int64",
      "example": null
     },
     "chirpAiContextObject": {
      "$ref": "#/components/schemas/ActionsV4ChirpAiContextObject"
     },
     "source": {
      "type": "string",
      "description": "Indicates the source of the request, with the default value being 'AGENTS'.",
      "example": null,
      "default": "AGENTS",
      "enum": [
       "AGENTS"
      ]
     },
     "trajectoryId": {
      "type": "string",
      "description": "The unique identifier for the trajectory associated with the agent request.",
      "example": null
     }
    },
    "example": null,
    "x-hubspot-sub-type-impl": true
   },
   "ActionsV4ArrayFieldSchema": {
    "title": "ARRAY",
    "required": [
     "items",
     "type"
    ],
    "type": "object",
    "properties": {
     "items": {
      "description": "Defines the type of elements contained within the array, which can be an integer, long, double, string, boolean, another array, or an object.",
      "example": null,
      "oneOf": [
       {
        "$ref": "#/components/schemas/ActionsV4IntegerFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4LongFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4DoubleFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4StringFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4BooleanFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4ArrayFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4ObjectFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4UnknownFieldSchema"
       }
      ]
     },
     "type": {
      "type": "string",
      "description": "Specifies that the field is of type 'ARRAY'.",
      "example": null,
      "default": "ARRAY",
      "enum": [
       "ARRAY"
      ]
     }
    },
    "example": null,
    "x-hubspot-sub-type-impl": true
   },
   "ActionsV4BatchInputCallbackCompletionBatchRequest": {
    "required": [
     "inputs"
    ],
    "type": "object",
    "properties": {
     "inputs": {
      "type": "array",
      "description": "An array of CallbackCompletionBatchRequest objects, each representing a single callback completion request. This property is required.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ActionsV4CallbackCompletionBatchRequest"
      }
     }
    },
    "example": null
   },
   "ActionsV4BooleanFieldSchema": {
    "title": "BOOLEAN",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "type": {
      "type": "string",
      "description": "Specifies the field type as BOOLEAN, indicating that the field can hold a true or false value.",
      "example": null,
      "default": "BOOLEAN",
      "enum": [
       "BOOLEAN"
      ]
     }
    },
    "example": null,
    "x-hubspot-sub-type-impl": true
   },
   "ActionsV4CallbackCompletionBatchRequest": {
    "required": [
     "callbackId",
     "outputFields",
     "typedOutputs"
    ],
    "type": "object",
    "properties": {
     "callbackId": {
      "type": "string",
      "description": "The unique identifier for the callback.",
      "example": null
     },
     "failureReasonType": {
      "type": "string",
      "description": "Specifies the type of failure reason for the callback completion.",
      "example": null
     },
     "outputFields": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "Holds the output fields for the callback completion.",
      "example": null
     },
     "requestContext": {
      "description": "Defines the context of the request, which can be one of several predefined types.",
      "example": null,
      "oneOf": [
       {
        "$ref": "#/components/schemas/ActionsV4WorkflowsRequestContext"
       },
       {
        "$ref": "#/components/schemas/ActionsV4AgentRequestContext"
       },
       {
        "$ref": "#/components/schemas/ActionsV4CopilotRequestContext"
       },
       {
        "$ref": "#/components/schemas/ActionsV4StandaloneRequestContext"
       },
       {
        "$ref": "#/components/schemas/ActionsV4TestRequestContext"
       }
      ]
     },
     "typedOutputs": {
      "type": "object",
      "properties": {},
      "description": "Contains the typed outputs for the callback completion.",
      "example": null
     }
    },
    "example": null
   },
   "ActionsV4CallbackCompletionRequest": {
    "required": [
     "outputFields",
     "typedOutputs"
    ],
    "type": "object",
    "properties": {
     "failureReasonType": {
      "type": "string",
      "description": "Indicates the reason for the failure of a callback completion.",
      "example": null
     },
     "outputFields": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "Contains the output fields associated with the callback, with each field represented as a key-value pair.",
      "example": null
     },
     "requestContext": {
      "description": "Specifies the context in which the request is made, which can be one of several predefined contexts.",
      "example": null,
      "oneOf": [
       {
        "$ref": "#/components/schemas/ActionsV4WorkflowsRequestContext"
       },
       {
        "$ref": "#/components/schemas/ActionsV4AgentRequestContext"
       },
       {
        "$ref": "#/components/schemas/ActionsV4CopilotRequestContext"
       },
       {
        "$ref": "#/components/schemas/ActionsV4StandaloneRequestContext"
       },
       {
        "$ref": "#/components/schemas/ActionsV4TestRequestContext"
       }
      ]
     },
     "typedOutputs": {
      "type": "object",
      "properties": {},
      "description": "Holds the typed outputs related to the callback, structured as an object.",
      "example": null
     }
    },
    "example": null
   },
   "ActionsV4ChirpAiContextObject": {
    "required": [
     "applicationGroup",
     "applicationId",
     "isPrivate",
     "metadata",
     "otelContextHolder",
     "unstructuredSources"
    ],
    "type": "object",
    "properties": {
     "applicationGroup": {
      "type": "string",
      "description": "The group to which the application belongs.",
      "example": null
     },
     "applicationId": {
      "type": "string",
      "description": "The identifier for the application associated with the context.",
      "example": null
     },
     "complianceIds": {
      "$ref": "#/components/schemas/ActionsV4ComplianceIds"
     },
     "conversationId": {
      "type": "string",
      "description": "A string identifier for the conversation associated with the context.",
      "example": null
     },
     "featureId": {
      "type": "string",
      "description": "The identifier for the feature associated with the context.",
      "example": null
     },
     "inferenceId": {
      "type": "string",
      "description": "The identifier for the inference associated with the context.",
      "example": null
     },
     "isPrivate": {
      "type": "boolean",
      "description": "A boolean indicating whether the context is private.",
      "example": null
     },
     "metadata": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "Additional metadata related to the context, represented as key-value pairs.",
      "example": null
     },
     "otelContextHolder": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "Holds OpenTelemetry context information as key-value pairs.",
      "example": null
     },
     "sensitivity": {
      "type": "string",
      "example": null,
      "enum": [
       "HIPAA",
       "NOT_SENSITIVE",
       "SENSITIVE"
      ]
     },
     "trajectoryId": {
      "type": "string",
      "description": "The identifier for the trajectory, formatted as a UUID.",
      "format": "uuid",
      "example": null
     },
     "unstructuredSources": {
      "type": "array",
      "description": "An array of strings indicating the sources of unstructured data. Valid values include 'NONE', 'USER_INPUT', 'LOGGED_EMAIL', 'VIDEO_CALL', 'AUDIO_CALL', 'CALL_TRANSCRIPT', 'MEETING_TRANSCRIPT', 'FORMS', 'FEEDBACK_SURVEY', 'PDF', 'QUOTE', 'INVOICE', 'OTHER_ATTACHMENT_DOC', 'WHATSAPP', 'SMS', 'CHAT', 'FACEBOOK_MESSENGER', 'CUSTOM_CHANNEL_OR_API', 'MANY', 'NOTE', and 'DERIVED'.",
      "example": null,
      "items": {
       "type": "string",
       "example": null,
       "enum": [
        "NONE",
        "USER_INPUT",
        "LOGGED_EMAIL",
        "VIDEO_CALL",
        "AUDIO_CALL",
        "CALL_TRANSCRIPT",
        "MEETING_TRANSCRIPT",
        "FORMS",
        "FEEDBACK_SURVEY",
        "PDF",
        "QUOTE",
        "INVOICE",
        "OTHER_ATTACHMENT_DOC",
        "WHATSAPP",
        "SMS",
        "CHAT",
        "FACEBOOK_MESSENGER",
        "CUSTOM_CHANNEL_OR_API",
        "MANY",
        "NOTE",
        "DERIVED"
       ]
      }
     }
    },
    "example": null
   },
   "ActionsV4CollectionResponsePublicActionDefinitionForwardPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/ActionsV4ForwardPaging"
     },
     "results": {
      "type": "array",
      "description": "An array of public action definitions, each represented by a PublicActionDefinition object.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ActionsV4PublicActionDefinition"
      }
     }
    },
    "example": null
   },
   "ActionsV4CollectionResponsePublicActionFunctionIdentifierNoPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "results": {
      "type": "array",
      "description": "An array of PublicActionFunctionIdentifier objects, each representing a specific function associated with an automation action definition.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ActionsV4PublicActionFunctionIdentifier"
      }
     }
    },
    "example": null
   },
   "ActionsV4CollectionResponsePublicActionRevisionForwardPaging": {
    "required": [
     "results"
    ],
    "type": "object",
    "properties": {
     "paging": {
      "$ref": "#/components/schemas/ActionsV4ForwardPaging"
     },
     "results": {
      "type": "array",
      "description": "An array of PublicActionRevision objects, each representing a specific revision of a public action definition.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ActionsV4PublicActionRevision"
      }
     }
    },
    "example": null
   },
   "ActionsV4ComplianceIds": {
    "required": [
     "contactIds",
     "portalIds",
     "userIds"
    ],
    "type": "object",
    "properties": {
     "contactIds": {
      "type": "array",
      "description": "An array of ContactId objects representing the IDs of the contacts involved.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ActionsV4ContactId"
      }
     },
     "noContactIdReason": {
      "type": "string",
      "description": "The reason why no contact ID is available.",
      "example": null
     },
     "noPortalIdReason": {
      "type": "string",
      "description": "The reason why no portal ID is available.",
      "example": null
     },
     "noUserIdReason": {
      "type": "string",
      "description": "The reason why no user ID is available.",
      "example": null
     },
     "portalIds": {
      "type": "array",
      "description": "An array of integers representing the IDs of the portals involved.",
      "example": null,
      "items": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     },
     "userIds": {
      "type": "array",
      "description": "An array of integers representing the IDs of the users involved.",
      "example": null,
      "items": {
       "type": "integer",
       "format": "int32",
       "example": null
      }
     }
    },
    "example": null
   },
   "ActionsV4ContactId": {
    "required": [
     "portalId"
    ],
    "type": "object",
    "properties": {
     "email": {
      "type": "string",
      "description": "The email address of the contact.",
      "example": null
     },
     "portalId": {
      "type": "integer",
      "description": "The ID of the portal associated with the contact.",
      "format": "int32",
      "example": null
     },
     "vid": {
      "type": "integer",
      "description": "The unique identifier for the contact.",
      "format": "int64",
      "example": null
     }
    },
    "example": null
   },
   "ActionsV4CopilotRequestContext": {
    "title": "COPILOT",
    "required": [
     "source"
    ],
    "type": "object",
    "properties": {
     "source": {
      "type": "string",
      "description": "Indicates the source of the request, with the default value being 'COPILOT'.",
      "example": null,
      "default": "COPILOT",
      "enum": [
       "COPILOT"
      ]
     },
     "trajectoryId": {
      "type": "string",
      "description": "The unique identifier for the trajectory.",
      "example": null
     }
    },
    "example": null,
    "x-hubspot-sub-type-impl": true
   },
   "ActionsV4DoubleFieldSchema": {
    "title": "DOUBLE",
    "required": [
     "type"
    ],
    "type": "object",
    "properties": {
     "maximum": {
      "type": "number",
      "description": "The maximum allowable value for the double field.",
      "example": null
     },
     "minimum": {
      "type": "number",
      "description": "The minimum allowable value for the double field.",
      "example": null
     },
     "type": {
      "type": "string",
      "description": "Indicates the field type as DOUBLE.",
      "example": null,
      "default": "DOUBLE",
      "enum": [
       "DOUBLE"
      ]
     }
    },
    "example": null,
    "x-hubspot-sub-type-impl": true
   },
   "ActionsV4Error": {
    "required": [
     "category",
     "correlationId",
     "message"
    ],
    "type": "object",
    "properties": {
     "category": {
      "type": "string",
      "description": "The error category",
      "example": null
     },
     "context": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      },
      "description": "Context about the error condition",
      "example": "{invalidPropertyName=[propertyValue], missingScopes=[scope1, scope2]}"
     },
     "correlationId": {
      "type": "string",
      "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
      "format": "uuid",
      "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf"
     },
     "errors": {
      "type": "array",
      "description": "further information about the error",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ActionsV4ErrorDetail"
      }
     },
     "links": {
      "type": "object",
      "additionalProperties": {
       "type": "string",
       "example": null
      },
      "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
      "example": null
     },
     "message": {
      "type": "string",
      "description": "A human readable message describing the error along with remediation steps where appropriate",
      "example": "An error occurred"
     },
     "subCategory": {
      "type": "string",
      "description": "A specific category that contains more specific detail about the error",
      "example": null
     }
    },
    "description": "Represents an error response returned by the API when an operation fails. This component is used in various endpoints to provide detailed information about the error encountered.",
    "example": {
     "message": "Invalid input (details will vary based on the error)",
     "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
     "category": "VALIDATION_ERROR",
     "links": {
      "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
     }
    }
   },
   "ActionsV4ErrorDetail": {
    "required": [
     "message"
    ],
    "type": "object",
    "properties": {
     "code": {
      "type": "string",
      "description": "The status code associated with the error detail",
      "example": null
     },
     "context": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "example": null,
       "items": {
        "type": "string",
        "example": null
       }
      },
      "description": "Context about the error condition",
      "example": "{missingScopes=[scope1, scope2]}"
     },
     "in": {
      "type": "string",
      "description": "The name of the field or parameter in which the error was found.",
      "example": null
     },
     "message": {
      "type": "string",
      "description": "A human readable message describing the error along with remediation steps where appropriate",
      "example": null
     },
     "subCategory": {
      "type": "string",
      "description": "A specific category that contains more specific detail about the error",
      "example": null
     }
    },
    "description": "Represents detailed information about an error that occurred in the API. This component is used to provide additional context and specifics about errors, typically as part of an error response.",
    "example": null
   },
   "ActionsV4FieldTypeDefinition": {
    "required": [
     "externalOptions",
     "name",
     "options",
     "schema",
     "type",
     "useChirp"
    ],
    "type": "object",
    "properties": {
     "description": {
      "type": "string",
      "description": "A detailed explanation of the field's purpose and usage.",
      "example": null
     },
     "externalOptions": {
      "type": "boolean",
      "description": "Indicates whether the field's options are sourced externally.",
      "example": null
     },
     "externalOptionsReferenceType": {
      "type": "string",
      "description": "Specifies the type of external reference for options.",
      "example": null
     },
     "fieldType": {
      "type": "string",
      "description": "Describes the field's type in the UI, with accepted values like booleancheckbox, calculation_equation, checkbox, date, file, html, number, phonenumber, radio, select, text, textarea, unknown.",
      "example": null,
      "enum": [
       "booleancheckbox",
       "calculation_equation",
       "calculation_read_time",
       "calculation_rollup",
       "calculation_score",
       "checkbox",
       "date",
       "file",
       "html",
       "number",
       "phonenumber",
       "radio",
       "select",
       "text",
       "textarea",
       "unknown"
      ]
     },
     "helpText": {
      "type": "string",
      "description": "Additional information or guidance about the field.",
      "example": null
     },
     "label": {
      "type": "string",
      "description": "The user-friendly label for the field.",
      "example": null
     },
     "name": {
      "type": "string",
      "description": "The unique identifier for the field.",
      "example": null
     },
     "options": {
      "type": "array",
      "description": "An array of options available for the field, each represented by an Option object.",
      "example": null,
      "items": {
       "$ref": "#/components/schemas/ActionsV4Option"
      }
     },
     "optionsUrl": {
      "type": "string",
      "description": "A URL that provides options for the field.",
      "example": null
     },
     "referencedObjectType": {
      "type": "string",
      "description": "Indicates the type of object that the field references, with accepted values like OWNER.",
      "example": null,
      "enum": [
       "ABANDONED_CART",
       "ACCEPTANCE_TEST",
       "AD",
       "AD_ACCOUNT",
       "AD_CAMPAIGN",
       "AD_GROUP",
       "AI_FORECAST",
       "ALL_PAGES",
       "APPROVAL",
       "APPROVAL_STEP",
       "ATTRIBUTION",
       "AUDIENCE",
       "AUTOMATION_JOURNEY",
       "AUTOMATION_PLATFORM_FLOW",
       "AUTOMATION_PLATFORM_FLOW_ACTION",
       "BET_ALERT",
       "BET_DELIVERABLE_SERVICE",
       "BLOG_LISTING_PAGE",
       "BLOG_POST",
       "CALL",
       "CAMPAIGN",
       "CAMPAIGN_BUDGET_ITEM",
       "CAMPAIGN_SPEND_ITEM",
       "CAMPAIGN_STEP",
       "CAMPAIGN_TEMPLATE",
       "CAMPAIGN_TEMPLATE_STEP",
       "CART",
       "CASE_STUDY",
       "CHATFLOW",
       "CLIP",
       "CMS_URL",
       "COMBO_EVENT_CONFIGURATION",
       "COMMERCE_PAYMENT",
       "COMMUNICATION",
       "COMPANY",
       "CONTACT",
       "CONTACT_CREATE_ATTRIBUTION",
       "CONTENT",
       "CONTENT_AUDIT",
       "CONTENT_AUDIT_PAGE",
       "CONVERSATION",
       "CONVERSATION_INBOX",
       "CONVERSATION_SESSION",
       "CRM_OBJECTS_DUMMY_TYPE",
       "CRM_PIPELINES_DUMMY_TYPE",
       "CTA",
       "CTA_VARIANT",
       "DATA_PRIVACY_CONSENT",
       "DATA_SYNC_STATE",
       "DEAL",
       "DEAL_CREATE_ATTRIBUTION",
       "DEAL_REGISTRATION",
       "DEAL_SPLIT",
       "DISCOUNT",
       "DISCOUNT_CODE",
       "DISCOUNT_TEMPLATE",
       "EMAIL",
       "ENGAGEMENT",
       "EXPORT",
       "EXTERNAL_WEB_URL",
       "FEE",
       "FEEDBACK_SUBMISSION",
       "FEEDBACK_SURVEY",
       "FILE_MANAGER_FILE",
       "FILE_MANAGER_FOLDER",
       "FOLDER",
       "FORECAST",
       "FORM",
       "FORM_SUBMISSION_INBOUNDDB",
       "GOAL_TARGET",
       "GOAL_TARGET_GROUP",
       "GOAL_TEMPLATE",
       "GSC_PROPERTY",
       "HUB",
       "IMPORT",
       "INVOICE",
       "KEYWORD",
       "KNOWLEDGE_ARTICLE",
       "LANDING_PAGE",
       "LEAD",
       "LINE_ITEM",
       "MARKETING_CALENDAR",
       "MARKETING_CAMPAIGN_UTM",
       "MARKETING_EMAIL",
       "MARKETING_EVENT",
       "MARKETING_EVENT_ATTENDANCE",
       "MARKETING_SMS",
       "MEDIA_BRIDGE",
       "MEETING_EVENT",
       "MIC",
       "NOTE",
       "OBJECT_LIST",
       "ORDER",
       "OWNER",
       "PARTNER_ACCOUNT",
       "PARTNER_CLIENT",
       "PARTNER_CLIENT_REVENUE",
       "PARTNER_SERVICE",
       "PAYMENT_LINK",
       "PAYMENT_SCHEDULE",
       "PAYMENT_SCHEDULE_INSTALLMENT",
       "PERMISSIONS_TESTING",
       "PLAYBOOK",
       "PLAYBOOK_QUESTION",
       "PLAYBOOK_SUBMISSION",
       "PLAYBOOK_SUBMISSION_ANSWER",
       "PLAYLIST",
       "PLAYLIST_FOLDER",
       "PODCAST_EPISODE",
       "PORTAL",
       "PORTAL_OBJECT_SYNC_MESSAGE",
       "POSTAL_MAIL",
       "PRIVACY_SCANNER_COOKIE",
       "PRODUCT",
       "PRODUCT_OR_FOLDER",
       "PROPERTY_INFO",
       "PROSPECTING_AGENT_CONTACT_ASSIGNMENT",
       "PUBLISHING_TASK",
       "QUARANTINED_SUBMISSION",
       "QUOTA",
       "QUOTE",
       "QUOTE_FIELD",
       "QUOTE_MODULE",
       "QUOTE_MODULE_FIELD",
       "QUOTE_TEMPLATE",
       "RESTORABLE_CRM_OBJECT",
       "ROSTER",
       "ROSTER_MEMBER",
       "SALES_DOCUMENT",
       "SALES_TASK",
       "SALES_WORKLOAD",
       "SALESFORCE_SYNC_ERROR",
       "SCHEDULING_PAGE",
       "SCHEMAS_BACKEND_TEST",
       "SCORE_CONFIGURATION",
       "SEQUENCE",
       "SEQUENCE_ENROLLMENT",
       "SEQUENCE_STEP",
       "SEQUENCE_STEP_ENROLLMENT",
       "SERVICE",
       "SITE_PAGE",
       "SNIPPET",
       "SOCIAL_BROADCAST",
       "SOCIAL_CHANNEL",
       "SOCIAL_POST",
       "SOCIAL_PROFILE",
       "SOX_PROTECTED_DUMMY_TYPE",
       "SOX_PROTECTED_TEST_TYPE",
       "SUBMISSION_TAG",
       "SUBSCRIPTION",
       "TASK",
       "TASK_TEMPLATE",
       "TAX",
       "TEMPLATE",
       "TICKET",
       "UNKNOWN",
       "UNSUBSCRIBE",
       "USER",
       "VIEW",
       "VIEW_BLOCK",
       "WEB_INTERACTIVE"
      ]
     },
     "schema": {
      "description": "Defines the structure and constraints of the field.",
      "example": null,
      "oneOf": [
       {
        "$ref": "#/components/schemas/ActionsV4IntegerFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4LongFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4DoubleFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4StringFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4BooleanFieldSchema"
       },
       {
        "$ref": "#/components/schemas/ActionsV4ArrayFieldSchema"
       },
       {
[...]
